scopeName: 'source.smash'
name: 'smash'
fileTypes: ['smash']
foldingStartMarker: '^(\\s*)$'
foldingStopMarker: '^(\\s*)$'
patterns: [
    {
        match: '^.*\\s+(\\$|~)(\\s+|$).*$'
        name: 'markup.italic.debug.smash'
        patterns: [
            { include: '$self' }
        ]
    }
    {
        match: '^.*\\s+(\\-T|\\-S|\\-M)(\\s+|$).*$'
        name: 'comment.line.percentage.todo.smash'
        patterns: [
            { include: '$self' }
        ]
    }
    {
        begin: '^(\\s*)\\.\\.(\\s*)$'
        end: '^(\\s*)$'
        name: 'entity.name.function.sequential.smash'
        patterns: [
            { include: '$self' }
        ]
    }
    {
        match: '^.*\\s+\\.\\.(\\s+|$).*$'
        name: 'entity.name.function.sequential.smash'
        patterns: [
            { include: '$self' }
        ]
    }
    {
        match: '^\\s*(((\\-T|\\-S|\\-M|\\-|\\+|\\.\\.|\\~|\\$|\\.\\?)\\s+)*)(\\*{1,3}\\s+)?((\'([^\\\\\']|(\\\\\\\\)*\\\\.)*\'|"([^\\\\"]|(\\\\\\\\)*\\\\.)*"|.*?)+?)((\\s+(\\-T|\\-S|\\-M|\\-|\\+|\\.\\.|\\~|\\$|\\.\\?))*)(\\s+(?=(\\[\\{[^\\}\\]]*$|\\{[^\\}]*$|\\[[^\\]]*$))|\\s*(\\/\\/.*$)|\\s*$)'
        captures:
            1: name: 'keyword.control.identifier.smash'
            5: {
                patterns: [
                    {
                        begin: '\''
                        end: '\''
                        name: 'string.quoted.single.smash'
                        patterns: [
                            { include: '#escapeChar' }
                            { include: '#variable' }
                        ]
                    }
                    {
                        begin: '\"'
                        end: '\"'
                        name: 'string.quoted.double.smash'
                        patterns: [
                            { include: '#escapeChar' }
                            { include: '#variable' }
                        ]
                    }
                    { include: '#bracketedString' }
                    { include: '#escapeChar' }
                    { include: '#variable' }
                    {
                        match: '(([Bb][Ee][Ff][Oo][Rr][Ee]|[Aa][Ff][Tt][Ee][Rr])\\s+[Ee][Vv][Ee][Rr][Yy]\\s+[Bb][Rr][Aa][Nn][Cc][Hh])|(([Bb][Ee][Ff][Oo][Rr][Ee]|[Aa][Ff][Tt][Ee][Rr])\\s+[Ee][Vv][Ee][Rr][Yy]\\s+[Ss][Tt][Ee][Pp])|(([Bb][Ee][Ff][Oo][Rr][Ee]|[Aa][Ff][Tt][Ee][Rr])\\s+[Ee][Vv][Ee][Rr][Yy][Tt][Hh][Ii][Nn][Gg])'
                        name: 'support.class.hook.smash'
                    }
                ]
            }
            11: name: 'keyword.control.identifier.smash'
            16: name: 'comment.line.double-slash.smash'
    }
    {
        begin: '(\\[\\{)[^\\{\\}\\[\\]]*$'
        end: '^\\s*(\\}\\])'
        name: 'payloadblock.codeblock.smash'
        beginCaptures:
            1: name: 'string.quoted.other.smash'
        endCaptures:
            1: name: 'string.quoted.other.smash'
        patterns: [
            { include: 'source.js' }
        ]
    }
    {
        begin: '(\\{)[^\\{\\}]*$'
        end: '^\\s*(\\})'
        name: 'codeblock.smash'
        patterns: [
            { include: 'source.js' }
        ]
    }
    { include: '#bracketedString' }
]
repository:
    variable: {
        begin: '\\{\\{?'
        end: '\\}\\}?'
        name: 'variable.smash'
        patterns: [
            {
                match: ':'
                name: 'keyword.control.identifier.lookahead.smash'
            }
        ]
    }
    escapeChar: {
        match: '\\\\.',
        name: 'constant.character.escape.smash'
    }
    bracketedString: {
        begin: '\\['
        end: '\\]'
        name: 'string.quoted.other.smash'
        patterns: [
            { include: '#escapeChar' }
            { include: '#variable' }
            { include: '#bracketedString' }
        ]
    }
